
.page{
    padding: 5rem;
    border: solid rgb(228, 108, 128);
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin-left:30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 15%;
}


.center{
    margin-top: 5%;
margin-left: 25%;
font-weight: 1000;
font-size: 18px;
width: 50%;

background-color:  rgb(137, 67, 78);;
    }

.contact-form label {
  font-weight: bold;
}

.contact-form{
    font-size: large;
}

.large{
     font-size: 18px
     
}